<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUTeZ4JOLiagM5eMu9iF3Zjyb_oB_TbL0</string>
	<key>GCM_SENDER_ID</key>
	<string>721769368879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devsfolder.flutterfolder.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-folder-35631</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-folder-35631.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721769368879:ios:54d91125d70e0909e9e5da</string>
</dict>
</plist>